* {
    font-family: sans-serif;  
    /* outline: 2px solid red; */
}

.lasagna-link,
.pizza-link,
.eggs-link {
    text-decoration: none;
    display: block;
    text-align: center;
    padding: 40px 50px 40px 50px;
    font-weight: bold;
    width: 140px;
}

.first-heading {
    margin: auto;
    width: 200px;
    text-wrap: nowrap;
}

.lasagna-link {
    background-color: pink;
    margin: 45px auto 45px auto;
    border: 2px solid palevioletred;
    color: rgb(226, 109, 129)

}

.pizza-link {
    background-color: peachpuff;
    margin: 55px auto 55px auto;
    border: 2px solid rgb(228, 172, 123);
    color: rgb(190, 149, 113)
}

.eggs-link {
    background-color: lightblue;
    margin: 65px auto 65px auto;
    border: 2px solid lightskyblue;
    color: rgb(55, 158, 192);
}

.home-button {
    display: block;
    padding: 20px;
    width: 60px;
    background-color: rgba(255, 166, 0, 0.733);
    border: 2px solid rgb(170, 156, 73);
    color: black;
    text-decoration: none;
    text-align: center;
    margin: 10px auto 10px auto;
}

